#map {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

#go {
  position: absolute;
  background: #fff;
  padding: 10px 20px;
  font-family: sans-serif;
}

#go:hover {
  cursor: pointer;
}
