html {
  font-family: sans-serif;
}

#map {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

#go {
  background: #fff;
  padding: 10px 20px;
  margin-top: 50px;
}

#go:hover {
  cursor: pointer;
}

#control-pane {
  width: 300px;
  background: gray;
  position: absolute;
  padding: 10px;
}

.noUi-horizontal .noUi-tooltip {
  bottom: -130%;
}
